<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--配置servlet-->
    <servlet>
        <!--声明Servlet名称-->
        <servlet-name>userRegServlet</servlet-name>
        <!--实现类-->
        <servlet-class>com.whpu.servlet.UserRegServlet</servlet-class>
    </servlet>
    <!--映射请求路径-->
    <servlet-mapping>
        <servlet-name>userRegServlet</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <!--声明Servlet名称-->
        <servlet-name>updateEdit</servlet-name>
        <!--实现类-->
        <servlet-class>com.whpu.servlet.UpdateEditServlet</servlet-class>
    </servlet>
    <!--映射请求路径-->
    <servlet-mapping>
        <servlet-name>updateEdit</servlet-name>
        <url-pattern>/updateEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <!--声明Servlet名称-->
        <servlet-name>updateSubmit</servlet-name>
        <!--实现类-->
        <servlet-class>com.whpu.servlet.UpdateSubmitServlet</servlet-class>
    </servlet>
    <!--映射请求路径-->
    <servlet-mapping>
        <servlet-name>updateSubmit</servlet-name>
        <!--访问的后缀-->
        <url-pattern>/updateSubmit</url-pattern>
    </servlet-mapping>

    <servlet>
        <!--声明Servlet名称-->
        <servlet-name>selectAll</servlet-name>
        <!--实现类-->
        <servlet-class>com.whpu.servlet.SelectAllStuServlet</servlet-class>
    </servlet>
    <!--映射请求路径-->
    <servlet-mapping>
        <servlet-name>selectAll</servlet-name>
        <!--访问的后缀-->
        <url-pattern>/selectAll</url-pattern>
    </servlet-mapping>

    <servlet>
        <!--声明Servlet名称-->
        <servlet-name>addStu</servlet-name>
        <!--实现类-->
        <servlet-class>com.whpu.servlet.AddStuServlet</servlet-class>
    </servlet>
    <!--映射请求路径-->
    <servlet-mapping>
        <servlet-name>addStu</servlet-name>
        <!--访问的后缀-->
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <!--声明Servlet名称-->
        <servlet-name>deleteStu</servlet-name>
        <!--实现类-->
        <servlet-class>com.whpu.servlet.DeleteStuServlet</servlet-class>
    </servlet>
    <!--映射请求路径-->
    <servlet-mapping>
        <servlet-name>deleteStu</servlet-name>
        <!--访问的后缀-->
        <url-pattern>/deleteStu</url-pattern>
    </servlet-mapping>
</web-app>